<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<h2 class="text-center text-white">Welcome to Press Play</h2>
<h5 class="text-center">Below you may select a category to be taken to a catalogue of our films!</h5>
<div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
        <form th:action="@{/search-results}" method="post">
            <select name="categoryName" class="form-select">
                <option selected>Select a Category</option>
                <option value="Action">Action</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
                <option value="Classics">Classics</option>
                <option value="Comedy">Comedy</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Family">Family</option>
                <option value="Foreign">Foreign</option>
                <option value="Games">Games</option>
                <option value="Horror">Horror</option>
                <option value="Music">Music</option>
                <option value="New">New</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Sports">Sports</option>
                <option value="Travel">Travel</option>
            </select>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="col"></div>
</div>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>