<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table of films</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <base href="/">

</head>
<body>
<div th:insert="fragments/header"></div>
<h2>Table of films</h2>
<div>
    <button type="button" class="btn btn-light">
        <a class="text-black no-underline" th:href="@{/add-film/}">Add Film</a>
    </button>
</div>
<table class="table table-hover border-dark">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Rental Duration</th>
        <th>Rental Rate</th>
        <th>Length</th>
        <th>Replacement Cost</th>
        <th>Rating</th>
        <th>Special Features</th>
    </tr>
    </thead>
    <tr th:each="film : ${film}">
        <th th:text="${film.title}"></th>
        <td th:text="${film.description}"></td>
        <td th:text="${film.rentalDuration}"></td>
        <td th:text="${film.rentalRate}"></td>
        <td th:text="${film.length}"></td>
        <td th:text="${film.replacementCost}"></td>
        <td th:text="${film.rating}"></td>
        <td th:text="${film.specialFeatures}"></td>
        <th><a class="text-black no-underline" th:href="@{/edit-film/{id}(id=${film.filmId})}">Edit</a></th>
        <th><a class="text-black no-underline" th:href="@{/delete-film/{id}(id=${film.filmId})}">Delete</a></th>
    </tr>
</table>
<div th:insert="fragments/footer :: main"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>